@model System.Data.DataTable;

@{
    ViewData["Title"] = "Lista de registros";
    
}

<h3>@ViewData["Title"]</h3>
<!-- Criando uma tabela para mostrar os dados de forma organizada -->
<div class="table-responsive">
<hr />
<table id="myTable" class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr class="text-center">
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">Editar/Excluir</th>
    </tr>
  </thead>
  <tbody>
   @for(int i = 0; i < Model.Rows.Count; i ++)
  {      
    <tr class="text-center">
      <th class="align-middle" scope="row">@Model.Rows[i][0]</th>
      <td class="align-middle">@Model.Rows[i][1]</td>
      <td class="align-middle">@Model.Rows[i][2]</td>
      <td class="align-middle">@Model.Rows[i][3]</td>
      <td class="align-middle">          
          <a href="@Url.Action("Edit", "Pessoa", new { @id=@Model.Rows[i][0]})" class="btn btn-info btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
          <a href="@Url.Action("Delete", "Pessoa", new { @id=@Model.Rows[i][0]})" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></a>          
        </td>
    </tr>    
  }    
  </tbody> 
</table>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
      <a href="@Url.Action("Create", "Pessoa")" class="btn btn-success">Novo cadastro</a>
  </div>
</div>
</div>

@* Data Tables - Paginação de tabelas (https://datatables.net/) *@
@section Scripts {
  <script>
    $(document).ready( function () {
      $('#myTable').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
        }
      });
  } );
</script>
}
